.body {
    background: linear-gradient(135deg, #133167, #4d638c, #87ceeb);
    color: $color-texto;
    min-height: 100vh;
    font-family: $font-principal;
}

.navbar {
    background-color: $color-primario;
    padding: $spacing-md 0;
}

.footer {
    background-color: $color-primario;
    text-align: center;
    padding: $spacing-md 0;
}
